@mixin btn-style{
        width: 150px;
        height: 45px;
        border-radius: 50px;
        border: 1px solid #F53855;
        background-color: #fff;
        color: #F53855;
        font-size: 16px;
        font-weight: 500;
        &:hover{
            transition: 0.3s all;
            background-color: #F53855;
            color: #fff;
        }
}
@mixin title-style{
    color: #0B132A;
    font-size: 35px;
    font-weight: 500;
}
@mixin descr-style{
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
}